<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilunuo-walk-up-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,61},{60,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qilunuo-walk-up-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qilunuo-walk-up-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,123},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>qilunuo-walk-up-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,185},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qilunuo-walk-up.png</string>
            <key>size</key>
            <string>{94,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b94097e22516f6f3e6fd51fd1b8e2c7:ed09b39846aa6bc13662db4829602750:f50471c78b8231e79b31158d4de9d785$</string>
            <key>textureFileName</key>
            <string>qilunuo-walk-up.png</string>
        </dict>
    </dict>
</plist>
