<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilunuo-work-up-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-work-up-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,95},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qilunuo-work-up.png</string>
            <key>size</key>
            <string>{70,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21a409ad710eb4bc4f82c463bdb9ad9:d02abfc1fdd7224482b7b19d88e1d33e:2c7a1b28bc8c76d797a571d2823e6529$</string>
            <key>textureFileName</key>
            <string>qilunuo-work-up.png</string>
        </dict>
    </dict>
</plist>
