<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilunuo-walk-down-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{60,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{61,1},{60,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-down-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-down-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{123,1},{60,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-down-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{185,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qilunuo-walk-down.png</string>
            <key>size</key>
            <string>{254,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a1c10160e6e82cab490d132a3b1f8af:39e3196108216f71a8b3dbf00c7fff81:028a9bdc47ac172751ca2b1b81a2d4f2$</string>
            <key>textureFileName</key>
            <string>qilunuo-walk-down.png</string>
        </dict>
    </dict>
</plist>
