<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilunuo-work-left-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-work-left-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{59,1},{76,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qilunuo-work-left</string>
            <key>size</key>
            <string>{130,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cade64ad67de8e2ae1824b6ecaf50c5c:5557ba76f86ce1e4c3dfd02908aa36f9:d94612b8c324e1a524ce82ca28b4249d$</string>
            <key>textureFileName</key>
            <string>qilunuo-work-left</string>
        </dict>
    </dict>
</plist>
