<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilunuo-walk-left-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-left-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{65,1},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-left-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,91},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qilunuo-walk-left-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{76,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,181},{76,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qilunuo-walk-left.png</string>
            <key>size</key>
            <string>{122,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f413ea81e1143e67879dbbb77411a54:72b9e31c83f009ba039dcb09fe77f689:17d01e9993bd9babc47ca39a0a644b7e$</string>
            <key>textureFileName</key>
            <string>qilunuo-walk-left.png</string>
        </dict>
    </dict>
</plist>
