<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep-walk-up-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-up-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,37},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-up-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-up-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{30,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,73},{30,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheep-walk-up.png</string>
            <key>size</key>
            <string>{32,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68704e2f5c7bbeb65fc7e352cc6681b9:91e3016eeeebff57910595099d4f22e6:e7fde9191d74cc2fad14eb84c92053fb$</string>
            <key>textureFileName</key>
            <string>sheep-walk-up.png</string>
        </dict>
    </dict>
</plist>
