<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep-walk-right-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sheep-walk-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{85,1},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheep-walk-right.png</string>
            <key>size</key>
            <string>{126,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f520b275be42b71c44e184e4c7cf03:d21b2ecf00660a09c0ca06618cfd0965:2d01808e4716eaba69ba4842985a28e1$</string>
            <key>textureFileName</key>
            <string>sheep-walk-right.png</string>
        </dict>
    </dict>
</plist>
