<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leimiliya-walk-down-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-down-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,71},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-down-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{56,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-down-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{56,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,139},{56,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leimiliya-walk-down.png</string>
            <key>size</key>
            <string>{58,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c98b0e7c73dcac222841e189ce2bc2:ccb577edfab7ff1eac4d303f7a6fedfb:c6b66193b0f707f451134e149c5164f4$</string>
            <key>textureFileName</key>
            <string>leimiliya-walk-down.png</string>
        </dict>
    </dict>
</plist>
