<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leimiliya-walk-right-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-right-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,71},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-right-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{40,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leimiliya-walk-right-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1,139},{40,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>leimiliya-walk-right.png</string>
            <key>size</key>
            <string>{42,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b761f5b02aa2ade648769588d03d9104:c98c10d2ef87d063502cbaf13d0f885e:c29816fa026fb7ade314bbbfba8535ab$</string>
            <key>textureFileName</key>
            <string>leimiliya-walk-right.png</string>
        </dict>
    </dict>
</plist>
